/*CABECERA*/
header {
  width: 100%;
  height: 4vh;
  min-height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .enlaces {
  display: flex;
  height: 100%;
  padding-left: 1.5vh;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.enlaces li{
  position: fixed;
  top: .8vh;
  right: .8vh;
}
.enlaces img {
  width: 2.3vh;
  max-width: 750px;
  height: 2.3vh;
  max-height: 750px;
}
header .enlaces a {
  display: flex;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  font-family: Poppins;
  font-size: 1.5vh;
  text-decoration: transparent;
  /* margin-inline-end: 10px; */
}
header .enlaces a:hover,
.active {
  /* opacity: 0.6; */
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
header .enlaces #github img:hover{
  content: url(/public/assets/images/all/github.png);  
}
