.city .madridcont {
    position: absolute;
    width: inherit;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
  }
  .city .madridcont:first-child {
    opacity: 1;
  }
  .city .madridcont:target {
    opacity: 1;
  }
  
  #switch-madrid ul {
    display: flex;
    flex-direction: column;
  }
  .madrid ul a {
    text-decoration: none;
  }
  .madrid li {
    list-style: none;
    color: var(--secundary-bg-color);
    margin-left: -1.2rem;
  }
  .madrid li::before {
    content: "•";
    display: flex;
    font-size: 22px;
  }
  .madrid li.blanco {
    color: var(--white-color);
  }
  .madrid li.rosa {
    color: var(--tertiary-color);
  }
  .madrid li.rojo {
    color: var(--secundary-bg-color);
  }

  #mad1 {
    display: block;
  }

  #mad1 {
    margin-top: 30px;
    outline: 0.2vh solid #ffffff;
    width: 70vw;
    max-width: inherit;
    height: 70vh;
    margin: 0 0;
  }
  
  #mad1 .photo {
    display: flex;
    margin: 0 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 0.2vh);
  }
  
  #mad1 .photo div {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  #mad1 .photo div img {
    display: flex;
    margin: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: inherit;
    height: inherit;
    min-height: fit-content;
  }
  
  .photo .madridfoto1 img {
    border-radius: 1vh 0 0 0;
    -webkit-border-radius: 1vh 0 0 0;
    -moz-border-radius: 1vh 0 0 0;
    -ms-border-radius: 1vh 0 0 0;
    -o-border-radius: 1vh 0 0 0;
  }
  .photo .madridfoto2 img {
    border-radius: 0 1vh 0 0;
    -webkit-border-radius: 0 1vh 0 0;
    -moz-border-radius: 0 1vh 0 0;
    -ms-border-radius: 0 1vh 0 0;
    -o-border-radius: 0 1vh 0 0;
  }
  .photo .madridfoto3 img {
    border-radius: 0 0 0 1vh;
    -webkit-border-radius: 0 0 0 1vh;
    -moz-border-radius: 0 0 0 1vh;
    -ms-border-radius: 0 0 0 1vh;
    -o-border-radius: 0 0 0 1vh;
  }
  .photo .madridfoto5 img {
    border-radius: 0 0 1vh 0;
    -webkit-border-radius: 0 0 1vh 0;
    -moz-border-radius: 0 0 1vh 0;
    -ms-border-radius: 0 0 1vh 0;
    -o-border-radius: 0 0 1vh 0;
  }
  
  .photo .madridfoto1 img:hover{
    box-shadow:  -.2vh -.2vh 1vh #ffffff;
  }
  .photo .madridfoto2 img:hover{
    box-shadow:  .2vh -.2vh 1vh #ffffff;
  }
  .photo .madridfoto3 img:hover{
    box-shadow:  -.2vh .2vh 1vh #ffffff;
  }
  .photo .madridfoto4 img:hover{
    box-shadow:  0vh .2vh 1vh #ffffff;
  }
  .photo .madridfoto5 img:hover{
    box-shadow:  .2vh .2vh 1vh #ffffff;
  }
  
  #mad1 .photo {
    display: grid;
    /* background-color: black; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(2, 1fr)); */
    grid-template-rows: 33% 33% 34%;
    gap: 0.1vh;
    grid-template-areas:
      "foto1 foto1 foto2"
      "foto1 foto1 foto2"
      "foto3 foto4 foto5";
  }
  
  #mad1 .photo .madridfoto1 {
    grid-area: foto1;
  }
  #mad1 .photo .madridfoto2 {
    grid-area: foto2;
  }
  #mad1 .photo .madridfoto3 {
    grid-area: foto3;
  }
  #mad1 .photo .madridfoto4 {
    grid-area: foto4;
  }
  #mad1 .photo .madridfoto5 {
    grid-area: foto5;
  }